@charset "UTF-8";
/* 기본 설정 */

*{
	padding: 0;
	margin : 0 auto;
	box-sizing : border-box;
	list-style:none;
}


.container{
	width: 1080px;
	height: 100%;
	padding: 0 20px;
}

li{
	float: left;
}

header{
	margin-bottom: 30px;
}



.leftmenu a{
	/* margin-top : 20px; */
	padding-top:0px;
	margin-right:25px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}

.leftmenu a:hover{
	color: #1EC800;
	border-style:solid;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	padding-bottom: 20px;
}

.leftmenu .dropmenu a:hover{
	color: white;
	border-style:none;
	padding-bottom: 0px;
}

.logo{
	display: inline-block;
}

.sidemenu{
	display: inline-block;
	float:right;
}

.sidemenu a{
	margin-top: 15px;
	margin-right: 15px; 
	margin-left: 15px;
	color: #1EC800;
	font-size: 1em;
	font-weight: bolder;
}


.sidemenu a:hover{
	color:green;
}



.rightmenu {
	float:right;
}
.rightmenu li:nth-child(1){
	
	text-align : center;
	color: #1EC800;
	margin-left: 20px;
	border-style: solid;
	border-color: #1EC800;
	border-radius: 30px;
	padding: 4px 12px 4px 12px;
}

.rightmenu li:nth-child(2){
	text-align : center;
	color: #1EC800;
	margin-left: 20px;
	border-style: solid;
	border-color: #1EC800;
	border-radius: 30px;
	padding: 4px 12px 4px 12px;
}

.dropmenu a{
	text-align:center;
	display : block;
	margin : 10px;
	
	padding : 0px;
	width: 150px;

}

.dropbox .dropmenu{
	display: none;
	position: absolute; /* 드롭 다운 선택시 컨텐츠 안 움직임 */
    background-color: #1EC800;
    text-align:center;
    color:white;
    min-width: 10px;
    padding-top : 15px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 16px 0px lightgray;
    /* x-position y-position blur spread color */
	
    z-index: 1;
}
.dropbox:hover .dropmenu {
        display: block;
        color:white;
}

.dropbox .dropmenu:hover{
	margin-top:23px;
	display: inline-block;
	color:white;
}
nav{
	overflow: hidden;
	height: 50px;
	background: white;
	border-style: solid;
	border-top: hidden;
	border-left : hidden;
	border-right: hidden;
	border-color: gray;	
	border-width: 2px;
	/* padding-bottom: 70px; */
}



section {
	width:100%;
	height: 650px;
	padding: 30px 0;
	background: #fafafa;
}

a{
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

body{
	min-height: 100%;
	position:relative;
}
footer .top{
	border-style: solid;
	border-left : hidden;
	border-right: hidden;
	border-color: gray;	
	border-width: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}
footer .top .container span{
	margin-right: 30px;
	
}

footer .top span:hover{
	font-weight: 700;
}

footer > .container{
	margin-top: 15px;
}

footer .copyright{
	margin-top: 5px;
}


.clear{
	clear:both;
}